@import "prose.css";

@tailwind base;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

::-moz-selection {
    @apply text-gray-900 bg-pink-200 dark:text-gray-50 dark:bg-pink-300;
}

::selection {
    @apply text-gray-900 bg-pink-200 dark:text-gray-50 dark:bg-pink-300;
}

@tailwind components;
@tailwind utilities;