@import "prose.css";
@import "fonts.css";

@tailwind base;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    font-family: "Jost", sans-serif;
}

::-moz-selection {
    @apply text-gray-900 bg-pink-200 dark:text-gray-50 dark:bg-pink-300;
}

::selection {
    @apply text-gray-900 bg-pink-200 dark:text-gray-50 dark:bg-pink-300;
}

a:focus-visible, button:focus-visible {
    @apply outline-none ring-2 ring-gray-500/50;
}

@tailwind components;
@tailwind utilities;